.cabecalho_meu_hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../imagens/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block ;
}

.cabecalho{
background-color: azure;
display: flex;
justify-content: space-between;
align-items: center;
position: relative;

}
.container{
    display: flex;
    align-items: center;

}
.container_imagem{
    padding: 1em;
}
.lista__menu{
    display: none;
    position: absolute;
    top:100%;
    background-color: bisque;
    width: 60vw;
}
.container_botao:checked~.lista__menu{
     display: block;   
}